* {
    font-family: Roboto; 
    margin: 0 auto; 
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
}

header, main {
    width: 450px;
    /*background-color: #C6C6C6;*/
    margin-left: auto;
    margin-right: auto; 
    padding-left: 100px;
}

/*.styleQuizz {
    display: none;
}*/